* {
    box-sizing: border-box;
}
body{
    background-image: url('./snow.jpg');
    text-align: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin:0;
    justify-content: baseline;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.countdown-container{
  display: flex;
}
.time{
    display:flex;
    font-size: 1.2em;
    flex-direction: column;
    margin: 0 15px;
}
.time h1{
    margin-bottom: 0;
}